
<link rel="stylesheet" href="/pfeiler/_design/b3/static/jquery-ui-timepicker-addon.css">
<link rel="stylesheet" href="/pfeiler/_design/b3/static/ui-lightness/jquery-ui-1.10.4.custom.css">

<link rel="stylesheet" href="/pfeiler/_design/b3/static/select/bootstrap-select.css">

<script src="/pfeiler/_design/b3/static/jquery-ui-1.10.4.custom.js"></script>
<script src="/pfeiler/_design/b3/static/jquery-ui-timepicker-addon.js"></script>
<script src="/pfeiler/_design/b3/static/select/bootstrap-select.js"></script>

<h1>Details</h1>



<h2>{{doc.name}}</h2>

<table>
	<tr >
		<td rowspan="7">
			<div id="mainimage">
				<img width="150" heigth="200" src="{{imgbaseurl}}/{{doc.image}}">
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<label for="text">Kurztext</label>
		</td>
		<td>
			<input type="text" id="text" size="50" value="{{doc.text}}">
		</td>
	</tr>
	<tr>
		<td>
			<label for="longText">Langtext</label>
		</td>
		<td>
			<textarea id="longText" cols="80" rows="14">{{doc.longText}}</textarea>
		</td>
	</tr>	

	</div>

<table>

<div id="save_doc_div">
<button class="btn btn-primary ladda-button pull-right" data-style="zoom-in" id="save_doc"><span class="ladda-label">speichern</span></button>
</div>


<script type="text/javascript">

	var baseurl = "{{baseurl}}";
	var imgbaseurl = "{{imgbaseurl}}";
	var mediabaseurl = "{{mediabaseurl}}";
	
	var db = require('db').use("{{baseurl}}");

	var handlebars = require('handlebars');
	handlebars.registerHelper('select', function(selected, options) {
	    return options.fn(this).replace(
	        new RegExp(' value=\"' + selected + '\"'),
	        '$& selected="selected"');
	});
	handlebars.registerHelper('list', function(items, options) {
	  var out = "<ul>";

	  if (!items) return;
	  for(var i=0, l=items.length; i<l; i++) {
	    out = out + "<li>" + options.fn(items[i]) + "</li>";
	  }

	  return out + "</ul>";
	});





	var user = "";

	db.getDoc("{{doc.slug}}", function(err,response){
		if(err) return;
		
		user = response;
		
	});


	$( "#save_doc" ).click(function( event ) {
		event.preventDefault();		
		//animation
		var l = Ladda.create(this);
		l.start();


		//user data object
		user.text = $("#text").val();
		user.longText = $("#longText").val();

		db.saveDoc(user, docSaved(l));
	});


/*
{
"_id": "55dad1faeacb63600c10ad663ac54f93",
"_rev": "1-17f7dce41843c5ccc5b453ba5a9352e6",
"ownerslug": "alexander",
"type": "image",
"image": "img/foto_b/alexander/alexander_afs3_1.jpg",
"freischaltepisode": "2",
"thumbnail": "img/foto_b/alexander/s79_alexander_afs3_1.jpg",
"videouri": ""
}
*/




	function docSaved(l){
		return function(err, response){

			l.stop();
			if (err) {
				alert(err.message);
				return;
			}
			
			if (response.ok)
				user._rev = response.rev;
		}
	}



</script>